WebContent/wsdl/ParcelServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.ecom_sample.resileo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.ecom_sample.resileo.com" xmlns:intf="http://service.ws.ecom_sample.resileo.com" xmlns:tns1="http://bean.ws.ecom_sample.resileo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.ecom_sample.resileo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.ws.ecom_sample.resileo.com"/>
   <element name="getTrackingIdStatus">
    <complexType>
     <sequence>
      <element name="trackId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrackingIdStatusResponse">
    <complexType>
     <sequence>
      <element name="getTrackingIdStatusReturn" type="tns1:ParcelBean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.ws.ecom_sample.resileo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="ParcelBean">
    <sequence>
     <element name="returnCode" nillable="true" type="xsd:string"/>
     <element name="returnDescription" nillable="true" type="xsd:string"/>
     <element name="trackId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTrackingIdStatusResponse">

      <wsdl:part element="impl:getTrackingIdStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackingIdStatusRequest">

      <wsdl:part element="impl:getTrackingIdStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ParcelServiceImpl">

      <wsdl:operation name="getTrackingIdStatus">

         <wsdl:input message="impl:getTrackingIdStatusRequest" name="getTrackingIdStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTrackingIdStatusResponse" name="getTrackingIdStatusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ParcelServiceImplSoapBinding" type="impl:ParcelServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTrackingIdStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTrackingIdStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTrackingIdStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ParcelServiceImplService">

      <wsdl:port binding="impl:ParcelServiceImplSoapBinding" name="ParcelServiceImpl">

         <wsdlsoap:address location="http://localhost:8081/eComResileo/services/ParcelServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
